{{> menu id="about"}}

<section class="ui left aligned middle aligned segment">

  <h2>About the Playlist App</h2>
  <p>
    Our Team!
  </p>

{{#each employees}}

  <div class="ui card">
    <div class="image">
      <img src="{{image}}">
    </div>
    <div class="content">
      <a class="header">{{name}}</a>
  <div class="meta">
      <span class="date">Joined in  </span>
    </div>
    <div class="description">
        is an   living in  .
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
        contacts
    </a>
  </div>

{{/each}}

</section>
